<link rel="stylesheet" href="aboutus page style.css">
<body>
  <section>
    <h2>our creative team</h2>
    <div class="container">
      <div class="box" data-color="clr1">
        <div class="imgBox">
          <img src="myimg1.jpeg" alt="Headless Horseman">
        </div>
        <div class="glass">
          <h3>satyander kaushik <br /><span>think tank and man behind all this</span></h3>
          <ul>
           <a href=""><button>contact</button></a>
              <ion-icon name="globe-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </div>
      <div class="box" data-color="clr2">
        <div class="imgBox">
          <img src="myimg 4.jpeg" alt="The Mummy">
        </div>
        <div class="glass">
          <h3>The goat<br /><span>stay classy</span></h3>
          <ul>
            <a href="https://en.wikipedia.org/wiki/Mummy_(undead)" target="_blank">
              <ion-icon name="globe-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </div>
      <div class="box" data-color="clr3">
        <div class="imgBox">
          <img src="myimg 2.jpeg" alt="Werewolf">
        </div>
        <div class="glass">
          <h3>MULTITALENTED<br/><span>HAI KYA KOI </span></h3>
          <ul>
            <a href="https://en.wikipedia.org/wiki/Werewolf" target="_blank">
              <ion-icon name="globe-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </div>

      <div class="box" data-color="clr1">
        <div class="imgBox">
          <img src="myimg1.jpeg" alt="Headless Horseman">
        </div>
        <div class="glass">
          <h3>satyander kaushik <br /><span>think tank and man behind all this</span></h3>
          <ul>
           <a href=""><button>contact</button></a>
              <ion-icon name="globe-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </div>
      <div class="box" data-color="clr1">
        <div class="imgBox">
          <img src="myimg1.jpeg" alt="Headless Horseman">
        </div>
        <div class="glass">
          <h3>satyander kaushik <br /><span>think tank and man behind all this</span></h3>
          <ul>
           <a href=""><button>contact</button></a>
              <ion-icon name="globe-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </div>
      <div class="box" data-color="clr1">
        <div class="imgBox">
          <img src="myimg1.jpeg" alt="Headless Horseman">
        </div>
        <div class="glass">
          <h3>satyander kaushik <br /><span>think tank and man behind all this</span></h3>
          <ul>
           <a href=""><button>contact</button></a>
              <ion-icon name="globe-outline"></ion-icon>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
<script>

</script>